// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark: #223843;
$light-gray2: #EFF1F3;
$dark-grey: #DBD3D8;
$grey-orange: #D8B4A0;
$orange2: #D77A61;
