<div class="container align-items-center light-orange">
  <h1>Hello <%= @user.name %>!</h1>

  <div class = "user_future_bookings">
    <h2>The Dinings You Created</h2>
      <% current_user.dinings.each do |dining|%>
      <li> <%= dining.name%> </li>
      <% end %>
  </div>
    <div class = "user_past_bookings">
    <h2>Your Upcoming booked Dinnings</h2>
    <% @future_bookings.each do |future| %>
    <li><%= future.dining.name %> </li>
    <% end %>
  </div>
    <div class = "user_dinings">
    <h2>Your Past Dinings</h2>
      <ul>
      </ul>
  </div>

</div>
