<div class="container align-items-center">
  <h1 class="p-3 text-center">Hello <%= @user.name %>!</h1>

    <div class = "user_future_bookings">
      <h2 class="text-center">The Dinings You Created</h2>
      <div class ="row">
        <% current_user.dinings.each do |dining|%>
        <%= render 'dinings/card', dining: @dining %>
        <% end %>
      </div>
    </div>

    <div class = "user_past_bookings">
        <h2 class="text-center">Your Upcoming Booked Dinings</h2>
      <div class ="row">
        <% @future_bookings.each do |future| %>
        <%= render 'dinings/card', dining: @dining %>
        <% end %>
      </div>
    </div>


    <div class = "user_dinings">
      <h2 class="text-center">Your Past Dinings</h2>
      <div class ="row">
      <% @past_bookings.each do |future| %>
      <%= render 'dinings/card', dining: @dining %>
      <% end %>
      </div>
    </div>

</div>
