<footer class="footer small text-lg-start border-top fixed-bottom">
  <!-- Copyright -->
  <div class="p-3 justify-content-evenly">

    © 2022 Copyright:
      <a class="text-dark" href="#">Eat n Meet</a>

      <a class="text-dark p-3" href="#">Privacy</a>
      <a class="text-dark p-3" href="#">Terms</a>

  </div>
  <!-- Copyright -->
</footer>
