  <%= form_tag dinings_path, method: 'get', :class => 'input-group' do  %>
          <input type="search" class="form-control rounded" placeholder="Where would you like to dine?" <%= text_field_tag :query,params[:query] %>
          <%= submit_tag "Search", class: 'btn btn-outline-primary' %>
  <% end %>
</div>
