<div class="mb-4 d-flex align-items-left justify-content-center">
  <div class="container dark-orange">
    <h1>All dining experiences</h1>
  </div>
</div>
<div class="container py-2 light-orange">
  <div class="row">
    <ul>
      <% @dinings.each do |dining| %>
        <li class="no-bullet">
          <%= link_to dining.name, dining_path(dining.id) %>
        </li>
      <% end %>
    </ul>
  </div>
  <hr>
  <div class="d-flex align-items-center justify-content-between mb-3">
    <%= link_to "Create dining", new_dining_path, class: "btn btn-primary" %>
  </div>
  </div>
