<div class="container align-items-center light-orange">
  <h1>New Dining Experience</h1>

  <%= render 'form', dining: @dining %>

  <hr>
  <%= link_to dinings_path do %>
    <i class="fa fa-history"></i> Back to list
  <% end %>

</div>
