<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div>
    <h1>Have an amazing dining experience...</h1>
    <h2>wherever you are</h2>
  </div>
  <br>
  <div>
  <a class="btn button-dark"<%= link_to "Find an experience", dinings_path %></a>
  </div >
</div>

<div class="container p-5">

  <%= form_tag dinings_path, method: 'get', :class => 'form-inline' do  %>
      <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Where would you like to dine?" <%= text_field_tag :query,params[:query] %>
        <%= submit_tag "Search", class: 'btn btn-outline-primary' %>
    </div>
  <%end%>

</div>
