<div class="cover">
  <div>
    <h1>Have an amazing dining experience...</h1>
    <h2><span data-controller="typed-js"></span></h2>
  </div>
  <br>
  <div>
  <a class="button-dark" <%= link_to "Find an experience", dinings_path %> >
  </div >
</div>

<div class="container p-5">

  <%= form_tag dinings_path, method: 'get', :class => 'input-group' do  %>
        <%= text_field_tag :query,params[:query], class: "form-control rounded", placeholder: "Find dinings around the globe" %>
        <%= submit_tag "Search", class: 'btn btn-outline-primary' %>
  <% end %>

</div>
