<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Have an amazing dining experience... wherever you are</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<p><%= link_to "View all dining experiences", dinings_path %></p>
