.btn-radius {
  border-radius: 8px;
}

.btn-outline-primary {
  color: $darker-orange;
  border-color: $darker-orange;
  &:hover{
    background-color: $darker-orange;
    border-color: $darker-orange;
  }
}

.btn:focus, .form-control:focus, .btn-outline-primary:focus  {
  outline: none;
  box-shadow: 0;
}

.button-dark {
text-decoration:none;
background-color: $dark;
color: white;
padding: 20px 15px 20px 15px;
border-radius: 4px;
opacity: 0.8;
  &:hover{
  opacity: 0.6;
  transition: 0.3s ease;
  color: white;
}
}

.button-orange{
text-decoration:none;
background-color: $darker-orange;
color: white;
padding: 20px 15px 20px 15px;
border-radius: 4px;
opacity: 0.8;
  &:hover{
  opacity: 0.6;
  transition: 0.3s ease;
  color: white;
}
}

.device {
text-decoration:none;
color: $darker-orange;
margin: 10px;
&:hover{
  opacity: 0.6;
  transition: 0.3s ease;
  color: white;
}

}
