.btn-radius {
  border-radius: 8px;
}

.btn-outline-primary {
  color: $darker-orange;
  border-color: $darker-orange;
  &:hover{
    background-color: $darker-orange;
    border-color: $darker-orange;
  }
}

.btn:focus, .form-control:focus, .btn-outline-primary:focus  {
  outline: none;
  box-shadow: 0;
}

.button-dark {
background-color: $dark;
color: $lighter-orange;
& :hover {
opacity: 0.6;
color: $darker-orange;
}
}
